body {
    background-color: white;
    margin-top: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


nav {
    position: fixed;
    top: 0;
    overflow: hidden;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}


#nav_bar nav a {
    float: left;
    display: block;
    width: 30%;
    padding: 14px 16px;
    text-align: center;
    background-color: lightgray;
}

#nav_bar nav a:hover {
    background-color: black;
    color: white;
}
}