body {
    background-color: white;
    width: 80%;
    margin: 100px auto;
    height: 1500px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;

}


#nav_bar nav a {
    float: left;
    display: block;
    padding: 14px 20px;

    text-align: center;
    text-decoration: none;
    font-size: 20px;
    color: white;
    
}

#nav_bar nav a:hover {
    background-color: grey;
    color: black;
}

#social {
    position: fixed;
    top: 80px;
    right: 35px;
}

#social a {
    display: block;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 5px 5px;
    margin-top: 4px;
    font-size: 25px;

}

#social a:hover {
    background-color: grey;
    color: black;
}


#photo_gallery h4 {
        text-align: center;
}

#photo_gallery figure {
    display: inline-block;
    width: 32%;
    height: auto;
    vertical-align: top;
    border-radius: 5px;
    margin: 0;
}



#photo_gallery #bikes_had img:hover {
    transform: scale(2);
}



#photo_gallery figure img {
    width: 100%;
    height: auto;
    border: 1px solid;
    padding: 0;

}

#photo_gallery figcaption {
    text-align: center;
}
