body {
    background-color: white;
    width: 80%;
    margin: 100px auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-align: center;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
}


#nav_bar nav a {
    float: left;
    display: block;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    color: white;
}

#nav_bar nav a:hover {
    background-color: grey;
    color: black;
}

#social {
    position: fixed;
    top: 80px;
    right: -70px;
    padding: 40px;
}

#social a {
    display: block;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 5px 5px;
    margin-top: 4px;
    font-size: 25px;
}

#social:hover {
    position: fixed;
    top: 80px;
    right: 0px;
}

#social a:hover {
    background-color: grey;
    color: black;
}

#About {
    background-color: lightgray;
    padding: 20px;
    border-radius: 5px;

}

#photo_gallery h4 {
    text-align: center;
}

#photo_gallery {
    background-color: lightgray;
    padding: 20px;
    border-radius: 5px;
}

.gallery {
    background-color: darkgray;
}

#photo_gallery figure {
    display: inline-block;
    width: 31%;
    height: auto;
    vertical-align: top;
    border-radius: 5px;
    margin: 0;
    padding: 10px;
}

#photo_gallery figure img:hover {
    transform: scale(1.5);
    transition-duration: 1s;
}


#photo_gallery figure img {
    width: 100%;
    height: auto;
    border: 1px solid;
    padding: 0;
}

#photo_gallery figcaption {
    text-align: center;
}


#contact {
    background-color: lightgray;
    width: 80%;
    margin: auto;
    padding: 10px;
    border-radius: 5px;

}

#contact_form label {
    display: inline-block;
    font-size: 16px;
    
}

form {
    width: 80%;
    margin: auto;
    
}

#contact_form input[type=text] {
    display: block;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
    margin-bottom: 10px;
    
}

#contact_form textarea {
    display: block;
    width: 100%;
    height: 100px;
    resize:vertical horizontal;
    padding: 10px;
    font-size: 14px;
    box-sizing: border-box;
}

#contact_form input[type=submit] {
    margin:20px auto;
    width: 150px;
    height: 30px;   
}